body {
    height: 100%;
    margin: 0;
    background-color:beige;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    height: 100vw;
}

.game-header {
    text-align: center;
}

.container .gameimg-container {
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}

button, 
#rock,
#paper,
#scissor {
    border-radius: 20px;
    padding: 5px;    
}

#rock:hover,
#paper:hover,
#scissor:hover {
    border-color: blueviolet;
    background-color: rgb(112, 90, 90);
}


.gameimg {
    width: 250px;
    border-radius: 20px;
}